body {
    padding-top: 50px;
}

.margin-auto {
    margin: 20px auto;
}


.badge {
    padding: 6px 9px;
    margin: 4px;
}

.container {
    text-align: justify;
    max-width: 800px;
}

body {
    line-height: 1.5;
    font-family: Helvetica, sans-serif;
    color: #333333;
    font-size: 16px;
}

.fa {
    color: black; /*default icon color*/
}

textarea#entry_body {
    resize: none;
    overflow-y: hidden;
    height: 200px;
    width: 100%;
    border: none;
    font-size: 20px;
    text-align: justify;
    outline: none;
    margin-bottom: 50px;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#entry_body{
    margin: 30px auto;
}

.green {
    color: #4DB559;
    font-family: "Bree Serif", helvetica, sans-serif;
}

.count_details {
    font-family: "Bree Serif", helvetica, sans-serif;
    font-size: 80%;
    font-style: italic;
}

#streak {
    font-style: italic;
    font-size: 80%;
}